<!-- <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click)="onButtonDestroy()">Destroy First Button</button>
        <app-server-element *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement"
          [name]="serverElement.name"
        >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div> -->


<app-bind-it-assignment></app-bind-it-assignment>

<hr>

<app-game-control (intervalFired)="onIntervalFired($event)"> </app-game-control>

<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>

<app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>